@import 'style.css';

main{
	display: flex;
	justify-content: center;
	padding: 50px 0px;
}

#contacto{
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 20px;
	background: var(--color);
}

input[type="text"],input[type="email"]{
	height: 30px;
	width: 100%;
	padding: 0px 5px;
	margin-bottom: 10px;
	border: none;
}

input[type="radio"],input[type="checkbox"]{
	margin-right: 10px;
}
textarea{
	padding: 5px 5px;
	width: 100%;
	height: 150px;
	resize: none;
	border:none;
}

input[type="submit"]{
	width: 100%;
	height: 40px;
	border:none;
	background: var(--blanco);
	cursor: pointer;
	font-weight: 800;
}

input[type="submit"]:hover{
	transition: 0.2s all ease-out;
	background: var(--boton);
}

#contacto label{
	margin: 5px 0px;
}

.contacto-txt{
	width: 50vw;
}

.contacto-txt img{
	width: 80%;
	margin-top:100px;
}

.sub-title{
	font-weight: 800;
}
@media(max-width:800px){
	main{
		flex-direction: column;
		align-items: center;
	}
	.contacto-txt{
		width: 400px;
		margin-bottom: 20px;
	}
}
