@import 'style.css';


main{
  display: flex;
  margin-top: 50px;
}

main aside{
  width:20vw;
  min-width: 250px;
  padding: 0px 40px;
}

main aside div{
  display: flex;
  flex-direction: column;  
}

.cb-filter{
  margin:0px 10px 10px 0px;
}

.line{
  margin: 20px 0px;
  width: 100%;
  border-bottom: solid 1px rgb(0,0,0,0.5);
}
#filter{
  margin:20px 0px;
  padding:5px 0px;
  width:50%;
  background: transparent;
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  color:rgb(0,0,0,0.5);
  transition: 0.2s ease-out;
}

#filter:hover{
  border-color:var(--main-color);
  color: var(--main-color);
}

/*.cursos{
  display: grid;
  grid-template-columns: auto;
  grid-gap:50px;
  padding-bottom: 50px;
}*/
.cursos{
  display: flex;
  flex-direction: column;
  
}
.curso{
  text-decoration: none;
  display: flex;
  margin-bottom: 40px;
}
.curso div{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.curso h3:hover{
  transition: 0.2s all ease-out;
  color: var(--main-color);
}

.curso img{
  width: 200px;
  height: auto;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
  transition: 0.2s all ease-out;
}

.curso img:hover{
  transform: translateX(5px);
}
small{
  color:var(--bk-color);
}

@media (min-width: 380px) and (max-width:700px){
  main{
    flex-direction: column;
  }
  .cursos{
    padding:40px;
  }
  .curso{
    margin-bottom: 40px;
  }
  .curso img{
    width: auto;
    height: 100px;
  }
  .curso div{
    padding: 0;
    margin-left: 20px;
  }
}

@media (max-width:500px){
    main{
      flex-direction: column;
    }
    .cursos{
      width: 100vw;
      align-items: center;
    }
    .curso{
      width: 70vw;
      flex-direction: column;
      align-items: center;
    }
    .curso img{
      width: 100%;
      height: auto;
    }
    .curso div{
      padding: 0;
      margin:40px 0px 60px 0px;
    }
}
