@import 'style.css';

main div{
	display: flex;
	align-items: center;
	margin: 40px 100px;
}

div span{
	margin: 0 20px;
	width: auto;
}

img{
	display: block;
	height: 200px;
	width: auto;
}


@media (max-width:700px){
	main div{
		flex-direction: column;
	}
}
