@import 'style.css';


.info img{
	display: block;
	height: 250px;
	width: auto;
}

.info{
	display: flex;
	padding: 40px 100px;
	align-items: center;
}

.info span{
	margin: 0 20px;
}

.ubicacion{
	text-align: center;
}

.ubicacion iframe{
	width: 50vw;
	height: 600px;
	padding: 20px 0px 100px 0px;
}

@media(max-width:700px){
	.info{
		flex-direction: column;
	}

	.ubicacion iframe{
		width: 80vw;
	}

	.info{
		padding: 40px 20px;
	}
}
