@import 'style.css';


.info img{
	display: block;
	height: 250px;
	width: auto;
}

.info{
	display: flex;
	padding: 40px 100px;
	align-items: center;
}

.info span{
	margin: 0 20px;
}

.ubicacion{
	text-align: center;
}

.ubicacion iframe{
	width: 300px;
	height: 400px;
	padding: 20px 0px 100px 0px;
}

@media(max-width:700px){
	.info{
		flex-direction: column;
	}
}
