@import 'style.css';


main{
  display: flex;
}

.link-cat{
  text-decoration: none;
  transition: 0.2s all ease-out;
  padding: 10px;
  color: var(--gris-oscuro);
  transition: 0.2s all ease-out;
  margin-right: 10px;
}

.link-cat:hover{
  color:var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.categorias{
  display: flex;
  flex-direction: column;
  padding: 50px;
  width:250px;
  background: var(--blanco);
}
.categorias div{
  display:flex;
  flex-direction:column:
}

.recursos{
  padding: 50px;
  width:calc(100% - 300px);
}

.recursos article{
  padding-bottom: 40px;
}
.recursos article div{
  display: flex;

  overflow-x: scroll;
}

.recursos article div iframe{
  margin: 20px;
}

@media (max-width:800px){
  main{
    flex-direction: column;
  }
  .categorias div{
    flex-direction: row;
  }
  .recursos{
    width: 100%;
  }
}
