*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;

 }

 :root{
 	/*colores*/
 	--boton: #FFE660;
 	--header: #FFDF33;
 	--footer:#FFF5C0;
 	--titulo: #353535;
	--gris:#2E2E2E;
 }

header{
	background: var(--header);
	text-align: center;
	padding: 40px 0px 40px 0px;
}

header nav a{
	margin:0px 10px;
	text-decoration: none;
	color:var(--gris);
}
h1, h3{
	color:var(--titulo);
}

main{
	min-height: 80vh;
	font-size: 14px;
}

footer{
	background: var(--footer);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20vh;
	min-height: 150px;
}

.rrss i{
	font-size: 1.5em;
	color:var(--gris);
	margin:10px;
}

a:active{
	color:#fff;
}
