@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;800;900&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Nunito','Helvetica', sans-serif;
 }

 :root{
 	/*colores*/
 	--main-color: #3BF8FF;
 	--bk-color: #006466;
	--lt-color:#D6FEFF;
	--gris-oscuro:#2E2E2E;
	--blanco:#fff;
 }

header{
	background: var(--main-color);
	text-align: center;
	padding: 40px 0px 40px 0px;*/
	font-size: 16px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-fluid{
	justify-content: flex-start !important;
}

.navbar, .collapse{
	background: var(--main-color);
}

.navbar-toggler{
	color:transparent!important;
	margin-right: 30px;
}
.p-4 a{
	padding-bottom:10px; 
}
.nav-icon{
	display: none;
	position: absolute;
	top: calc(50% - 30px);
	left: 40px;
	font-size: 30px;
	color: var(--bk-color);
	background-color: var(--blanco);
	padding: 4px 15px;
	border-radius: 10px;
}

header nav a, .collapse div a{
	margin:0px 20px;
	text-decoration: none;
	color:var(--gris-oscuro);
}

header nav a:hover, .collapse div a:hover{
	transition: 0.2s all ease-out;
	color:var(--blanco);
	border-bottom: 1px solid  var(--blanco);
}

h1, h3{
	color:var(--bk-color);
}

main{
	min-height: 80vh;
	font-size: 16px;
	overflow-x: hidden;
}

footer{
	background: var(--gris-oscuro);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 20vh;
	min-height: 150px;
	color: var(--blanco)
}

footer p:first-of-type {
	font-weight: 800;
	font-size: 1.2em;
}

.rrss i{
	font-size: 1.5em;
	color:var(--main-color);
	margin:10px;
}

a:active{
	color:#fff;
}
.navbar{
	display: none;
}
.collapse div{
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width:800px) {
	header nav{
		transition: 0.2s all ease-out;
		display: flex;
		flex-direction: column;
	}
	header nav a{
		margin-top:10px;
	}
	.navbar{
		display: block;
	}
	header{
		display: none;
	}
	/*.nav{
		display: none;
	}
	.nav-icon{
		display: block;
	}*/

}
